<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Coursework</title>
	<link rel="stylesheet" href="css/HomeVS.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="icon" href="asset/ICON.png">

</head>
<body>
<div class="wrapper">
    <div class="sidebar">
        <h2>Victory Structure</h2>
    	<ul>
            <li><a href="/">Home</a></li>
            <li><a href="/module">Module</a></li>
			<li><a href="/allcoursework"></i>All Coursework</a></li>
			<li><a href="/about"></i>About</a></li>

        </ul>
        <div class="options">
			<ul>
				<li><a href="/settings">Account and Settings</a></li>
				<li>
				  <form action="/logout?_method=DELETE" method="POST">
					<button type="submit" class="linked_button">Log Out</button>
				  </form>
				</li>
			</ul>
      </div>
    </div>
	
    <div class="main_content">
        <div class="header"> <%= selectedpage %> Coursework</div>
		<div class = "button-group">
		<form action = "/createactivity">
				<button class = "button1" type = "submit"> Create Activity</button>
			</form>
		</div>
		<div class="info">
		
			<div>
            <table id = "activity_table">
              <tr>
                <th>Module</th>
                <th>Description</th>
				<th>Notes</th>
				<th>Coursework name</th>
              </tr>
            </table>
          </div>
          <script>
            $(document).ready(function(){
			  var activity_data = '';
			  var userid = <%= passedid %>;
			  var data = <%- JSON.stringify(activity)%>;

			  $.each(data,function(key, value){
				activity_data += '<tr>';
				activity_data += '<td>'+value.activityname+'</td>';
				activity_data += '<td>'+value.description+'</td>';
				activity_data += '<td>'+value.notes+'</td>';
				activity_data += '<td>'+value.courseworkname+'</td>';
				activity_data += '</tr>';
			  });
			  $('#activity_table').append(activity_data);
			  });
          </script>
		
			<div class="slidecontainer">
				<input type="range" min="1" max="100" value="1" class="slider" id="myRange" onchange="sliderChange(this.value)">

				<script>
					$(document).ready(function(){ 
						var slider = document.getElementById("myRange");
						slider.value = <%- JSON.stringify(percentage)%>;

						var output = document.getElementById("demo");
						output.innerHTML = slider.value;

						slider.oninput = function() {
							var output = document.getElementById("demo");
							output.innerHTML = slider.value;
							output.innerHTML = this.value;
						}
					});

					function sliderChange(sliderValue) {
						var name = <%- JSON.stringify(selectedpage) %>;
						$(document).ready(function () {									
							$.post('/changeslider',   // url
							{ value: sliderValue , coursename: name}, // data to be submit
							function(value, coursename, status, jqXHR) {
								console.log("success")
							});
						});
					}
				</script>
				
				<label for="checkbox"> Completed:</label>
				<input type="checkbox" id="checkbox" name="completecheckbox" onchange="handleChange('<%= selectedpage %>')">
				
				<script>
					function handleChange(name) {
					
						var ask = window.confirm("This action will delete this coursework. Do you want to delete it?");
						if (ask) {

							window.location.href = "/deletecoursework?<%= selectedpage %>";
						}
						else {
							document.getElementById("checkbox").checked = false;
						}
					}
				</script>
				
				<p>Percentage Complete: <span id="demo"></span>%</p>
			</div>
			
		</div>
	</div>

    </div>
</div>

<script src="js/Coursework.js"></script>
</body>
</html>