<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <title>Coursework</title>
      <link rel="stylesheet" href="css/HomeVS.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      <link rel="icon" href="asset/ICON.png">
   </head>
   <body>
      <div class="wrapper">
         <div class="sidebar">
            <h2>Victory Structure</h2>
            <ul>
               <li><a href="/">Home</a></li>
               <li><a href="/module">Module</a></li>
               <li><a href="/allcoursework"></i>All Coursework</a></li>
               <li><a href="/about"></i>About</a></li>
            </ul>
            <div class="options">
               <ul>
                  <li><a href="/settings">Account and Settings</a></li>
                  <li>
                     <form action="/logout?_method=DELETE" method="POST">
                        <button type="submit" class="linked_button">Log Out</button>
                     </form>
                  </li>
               </ul>
            </div>
         </div>
         <div class="main_content">
            <div class="header">All Coursework</div>
            <div class ="button-group">
               <form action = "/createcoursework" method = "GET">
                  <button class = "button1" type = "submit"> Create Coursework</button>
               </form>
            </div>
            <div class="info">
			   <label for = "selectContainer1">Filter by Module</label>
               <div id="selectContainer1">
                  <select id="filterModule" onChange="javascript:filterByCategory(this)">
                     <option>
                        --All Coursework--
                     </option>
                  </select>
               </div>
               <div class = "table">
                  <table id = "coursework_table" class = "table">
                     <thead>
                        <tr>
                           <th data-column="courseworkname" data-order="desc">Coursework Name &#9650</th>
                           <th data-column="description" data-order="desc">Description &#9650</th>
                           <th data-column="deadline" data-order="desc">Deadline &#9650</th>
                           <th data-column="markvalue" data-order="desc">Mark Value &#9650</th>
                           <th data-column="notes" data-order="desc">Notes &#9650</th>
                           <th data-column="percentage" data-order="desc">Progress &#9650</th>
                           <th data-column="module" data-order="desc">Module &#9650</th>
                        </tr>
                     </thead>
                  </table>
               </div>
               <script>
                  var userid = <%= passedid %>;
                  var jsondata = <%-JSON.stringify(coursework_json)%>;
                  var data = <%-JSON.stringify(module_json)%>;

                  function filterByCategory(obj) {

                     var id = $(obj).val(); // get currently selected value
                     var tr = $('tr[data-category]');
                     $('tr[data-category]').hide(); // first hide all rows

                     for (i = 0; i < tr.length; i++) {
                        if ($(tr[i]).attr("data-category") == id) {
                           $(tr[i]).show();
                        }
                     }

                     if (id == "--All Coursework--") {
                        $('tr[data-category]').show();
                     }
                  }

                  $(document).ready(function(){
                     
                     $('th').on('click', function(){
                  		var column = $(this).data('column')
                  		var order = $(this).data('order')
                        var text = $(this).html();
                        text = text.substring(0, text.length - 1)
                  		console.log('Column was clicked', column, order)
                  
                  	if (order == 'desc'){
                  		$(this).data("order", "asc")
                  		console.log(jsondata[userid])
                  		jsondata[userid] = jsondata[userid].sort((a,b) => a[column] > b[column] ? 1 : -1)
                        
                        text += '&#9660'
                  	}else{ 
                  		$(this).data("order", "desc")
                  		console.log(jsondata[userid])
                  		jsondata[userid] = jsondata[userid].sort((a,b) => a[column] < b[column] ? 1 : -1)
                       
                        text += '&#9650'
                  	}
                     $(this).html(text)
                  	buildtable(jsondata);
                  })

                     buildtable(jsondata)
                     

                        function buildtable(data){
                           $(document).ready(function(){
                              var items = [];
                              $.each(jsondata[userid], function(key, val){
                                 items.push("<tr data-category='"+val.modulename+"'>");
                                 items.push("<td>"+val.courseworkname+"</td>");
                                 items.push("<td>"+val.description+"</td>");
                                 items.push("<td>"+val.deadline+"</td>");
                                 items.push("<td>"+val.markvalue+"%</td>");
                                 items.push("<td>"+val.notes+"</td>");
                                 items.push("<td>"+val.percentage+"%</td>");
                                 items.push("<td>"+val.modulename+"</td>");
                                 items.push("</tr>");
                              });
                              $("#coursework_table tbody").empty();
                              $("<tbody/>", {html:items.join("")}).appendTo("table");
                           });
                        }

                     	var ddl = document.getElementById("filterModule");
                     	$.each(data[userid],function(key, value){
                     		var option = document.createElement("OPTION");
                     		option.innerHTML = value.modulename;
                     		ddl.options.add(option);
                     	});
                     	document.getElementById('selectContainer1').appendChild(ddl);  
                     	ddl.setAttribute("name", "modulename");
                  });
               </script>
               
                  <label for = "selectContainer">Select a Coursework</label>
                  <div id="selectContainer2">
                     <script>
                        $(document).ready(function(){
                        	let userid = <%= passedid %>;
                        	var data = <%-JSON.stringify(coursework_json)%>;
                        	var ddl = document.createElement("SELECT");
                           ddl.id = "courseSelect";
                        	$.each(data[userid],function(key, value){
                        		var option = document.createElement("OPTION");
                        		option.innerHTML = value.courseworkname;
                        		ddl.options.add(option);
                        	});
                        	document.getElementById('selectContainer2').appendChild(ddl);  
                        	ddl.setAttribute("name", "selectpage");
                        });

                        function chooseCoursework() {
                           let select = document.getElementById('courseSelect');
                           let value = select.options[select.selectedIndex].text;
                           window.location.href = "/coursework?" + value;
					         }
                     </script>
                  </div>
                  <button type="submit" class="linked_button" id="form_submit" onclick="chooseCoursework()">Submit</button>       
            </div>
         </div>
      </div>
      </div>
   </body>
</html>